@using WebUI
@using HotlineCore

@{
            ViewBag.Title = "Danh sách đã tiếp nhận";
            Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div id="MyApp" class="row">
    <div class="col-md-12">
        <div class="btn btn-default" v-on:click="clickEnableFilter">Bộ lọc</div><br />
        <div v-if="enableFilter == 1" class="form-group">
            <label class="control-label">{{ listFilter[0].VALUE }}</label>
            <select v-model="condition0" class="form-control" style="width: 100%">
                <option v-for="item in listValue[0]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[1].VALUE }}</label>
            <select v-model="condition1" class="form-control" style="width: 100%">
                <option v-for="item in listValue[1]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[2].VALUE }}</label>
            <select v-model="condition2" class="form-control" style="width: 100%">
                <option v-for="item in listValue[2]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[3].VALUE }}</label>
            <select v-model="condition3" class="form-control" style="width: 100%">
                <option v-for="item in listValue[3]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[4].VALUE }}</label>
            <select v-model="condition4" class="form-control" style="width: 100%">
                <option v-for="item in listValue[4]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[5].VALUE }}</label>
            <select v-model="condition5" class="form-control" style="width: 100%">
                <option v-for="item in listValue[5]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[6].VALUE }}</label>
            <select v-model="condition6" class="form-control" style="width: 100%">
                <option v-for="item in listValue[6]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[7].VALUE }}</label>
            <select v-model="condition7" class="form-control" style="width: 100%">
                <option v-for="item in listValue[7]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <label class="control-label">{{ listFilter[8].VALUE }}</label>
            <select v-model="condition8" class="form-control" style="width: 100%">
                <option v-for="item in listValue[8]" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
        </div>
        <form class="form-group">
            <label for="startDayString" class="control-label">Từ ngày</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right nhapngay" id="startDayString" v-model="startDayString" />
            </div>
            <label for="endDayString" class="control-label">Đến ngày</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right nhapngay" id="endDayString" v-model="endDayString" />
            </div>
            <br />
            <button type="button" class="btn btn-primary" v-on:click="locDuLieu">Danh sách chi tiết</button>
            <br />
            <br />
            <label class="control-label text-danger">Nhóm theo:</label>
            <select v-model="typeReport" class="form-control" style="width: 100%">
                <option v-for="item in listGroup" v-bind:value="item.ID">{{ item.VALUE }}</option>
            </select>
            <br />
            <button type="button" class="btn btn-danger" v-on:click="thongKe">Thống kê</button>
            <button v-if="typeFunction == 1" type="button" class="btn btn-default" v-on:click="thongKeExcel">Excel</button>
        </form>
    </div>
    <div v-if="typeFunction == 1" class="col-md-12">
        <table id="tblThongKe" class="table table-striped" style="background-color:white">

            <tr>
                <th>Nhóm đối tượng cần thống kê</th>
                <th>Tổng số tiếp nhận</th>
                <th>Đã xử lý</th>
                <th>Đã gọi kiểm</th>
                <th>Đã cập nhật file ghi âm</th>
                <th>Đã chuyển cấp 2</th>
                <th>Đã chuyển cấp 3</th>
                <th>Đã chuyển cấp 4</th>
                <th>Tự động chuyển cấp 3</th>
                <th>Tự động chuyển cấp 4</th>
                <th>Sai đơn vị</th>
                <th>Phối hợp xử lý</th>
            </tr>
            <tr v-for="item in listData">
                <td>{{ item.value }}</td>
                <td>{{ item.count_n }}</td>
                <td>{{ item.updating_da_xu_ly }}</td>
                <td>{{ item.da_goi_kiem }}</td>
                <td>{{ item.sl_file_ghi_am }}</td>
                <td>{{ item.updating_chuyen_cap_do_2 }}</td>
                <td>{{ item.updating_chuyen_cap_do_3 }}</td>
                <td>{{ item.updating_chuyen_cap_do_4 }}</td>
                <td>{{ item.updating_tu_dong_chuyen_cap_do_3 }}</td>
                <td>{{ item.updating_tu_dong_chuyen_cap_do_4 }}</td>
                <td>{{ item.updating_sai_don_vi }}</td>
                <td>{{ item.updating_dang_phoi_hop }}</td>
            </tr>
        </table>
    </div>
    <div v-else class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_dang_xu_ly" data-toggle="tab">
                        <strong class="text-primary">Đang xử lý<span>({{ dsDangXuLy.length}})</span></strong>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_dang_xu_ly">
                    <table class="table table-bordered" style="font-size: 12px">
                        <tr>
                            <th></th>
                            <th>Mã YC</th>
                            <th>Thời gian</th>
                            <th>Họ tên</th>
                            <th>SĐT</th>
                            <th>Trạng thái phiếu</th>
                            <th>Chuyển cấp 2</th>
                            <th>Cấp 2 đã xử lý đúng hẹn</th>
                            <th>Cấp 2 đã xử lý trễ hẹn</th>
                            <th>Cấp 2 đang xử lý trễ hẹn</th>
                            <th>Cấp 2 đang xử lý</th>
                        </tr>
                        <tr v-for="(item,index) in dsDangXuLy">
                            <td align="center">
                                <span>{{ index + 1 }}</span>
                                @if (ViewBag.mp_vaitro == WebUI.VAI_TRO.ADMIN_READ_ONLY || ViewBag.mp_vaitro == WebUI.VAI_TRO.ADMIN || ViewBag.mp_vaitro == WebUI.VAI_TRO.XU_LY_CAP_DO_1)
                                {
                                    <a style="cursor:pointer" v-on:click="showModal(item.yeucau_id)"><i class="fa fa-edit text-blue"></i></a>
                                }
                            </td>
                            <td>{{ item.yeucau_id }}</td>
                            <td>{{ item.tgian_tiepnhan | formatDate }}</td>
                            <td>{{ item.nguoigoi_hoten }}</td>
                            <td>{{ item.nguoigoi_sdt }}</td>
                            <td>{{ item.trangthai_ten }}</td>
                            <td><i v-if="item.updating_chuyen_cap_do_2 > 0" class="fa fa-check-square-o"></i></td>
                            <td><i v-if="item.cap_do_2_da_xu_ly_dung_han > 0" class="fa fa-check-square-o"></i></td>
                            <td><i v-if="item.cap_do_2_da_xu_ly_tre_han > 0" class="fa fa-check-square-o"></i></td>
                            <td><i v-if="item.cap_do_2_dang_xu_ly_tre_hen > 0" class="fa fa-check-square-o"></i></td>
                            <td><i v-if="item.cap_do_2_dang_xu_ly > 0" class="fa fa-check-square-o"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="update" role="dialog">
        <div class="modal-dialog modal-lg">
            Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin phản ánh <span class="text-danger text-bold">{{ yeucau_id }}</span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_thong_tin_chung" data-toggle="tab"><strong class="text-primary">Thông tin chung</strong></a></li>
                                    <li><a href="#tab_thong_tin_nguoi_dan" data-toggle="tab"><strong class="text-success">Thông tin người dân</strong></a></li>
                                    <li><a href="#tab_ket_qua_xu_ly" data-toggle="tab"><strong class="text-danger">Kết quả xử lý</strong></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_thong_tin_chung">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">T.gian tiếp nhận</label>
                                                    <div class="col-sm-10">
                                                        <span class="form-control">{{ tgian_tiepnhan | formatDate }}</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Nội dung phản ánh</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" v-model="yeucau_noidung" rows="10" spellcheck="false"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Lĩnh vực</label>
                                                    <div class="col-sm-10">
                                                        <select id="cboLinhVuc" v-model="linhvuc_id" class="form-control select2" style="width: 100%">
                                                            <option v-for="item in dsLinhVuc" v-bind:value="item.ID">{{ item.VALUE }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Đã gọi kiểm</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" v-model="dagoikiem" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_thong_tin_nguoi_dan">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Họ tên</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" v-model="nguoigoi_hoten" />
                                                    </div>
                                                    <label class="control-label col-sm-2">Số ĐT</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" v-model="nguoigoi_sdt" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Email</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" v-model="nguoigoi_email" />
                                                    </div>
                                                    <label class="control-label col-sm-2">CMND</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" v-model="nguoigoi_cmnd" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Đối tượng</label>
                                                    <div class="col-sm-4">
                                                        <select v-model="doituong_id" name="doituong_id" class="form-control">
                                                            <option v-for="item in dsDoiTuong" v-bind:value="item.ID">{{ item.VALUE }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Mạng XH</label>
                                                    <div class="col-sm-4">
                                                        <select v-model="mangxh_id" class="form-control">
                                                            <option value="">-Không-</option>
                                                            <option value="FACEBOOK">Facebook</option>
                                                            <option value="VIBER">Viber</option>
                                                            <option value="ZALO">Zalo</option>
                                                        </select>
                                                    </div>
                                                    <label class="control-label col-sm-2">Nickname</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" v-model="nguoigoi_nickname" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Địa chỉ</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" v-model="nguoigoi_diachi" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Xã/Phường</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" v-model="phuong_ten" readonly />
                                                    </div>
                                                    <label class="control-label col-sm-2">Huyện/Tp</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" v-model="huyen_ten" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_ket_qua_xu_ly">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <p class="form-control-static col-sm-2">Trạng thái:</p>
                                                <div class="col-sm-10">
                                                    <label class="control-label">{{ trangthai_ten }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <p class="form-control-static col-sm-2">Cấp độ:</p>
                                                <div class="col-sm-10">
                                                    <label class="control-label">{{ capdo_id }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <p class="form-control-static col-sm-2">Đơn vị:</p>
                                                <div class="col-sm-6">
                                                    <select v-model="donvi_id" name="donvi_id" class="form-control">
                                                        <option v-for="item in dsDonVi" v-bind:value="item.ID">{{ item.VALUE }}</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.DIEN_THOAI_VIEN)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-info">
                                                <div class="">
                                                    <h4><span class="label label-info">Cấp độ 1</span></h4>
                                                    <div>
                                                        <p>- Nội dung xử lý:</p>
                                                        <p>
                                                            <textarea class="form-control" v-model="noidung_c1_xuly" rows="5" spellcheck="false"></textarea>
                                                        </p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c1_xuly | formatDate }}</i></p>
                                                        <p v-if="c1_file_name != ''">
                                                            - File đính kèm:
                                                            <a v-bind:href="downloadUrl_c1" target="_blank">Tệp tin</a>
                                                            <a href="#" v-on:click="DetachFile">
                                                                <i class="fa fa-remove"></i>
                                                            </a>
                                                        </p>
                                                        <p>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.CHUYEN_VIEN_BAN_NGANH)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-success">
                                                <div>
                                                    <h4><span class="label label-success">Cấp độ 2</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c2_ten }}</i></p>
                                                        <p>- Thời gian để xử lý từ <i>{{ tgian_c2_xuly_tu | formatDate }}</i> đến <i>{{ tgian_c2_xuly_den | formatDate }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c2_xuly | formatDate }}</i></p>
                                                        <p>- Nội dung xử lý: <i>{{ noidung_c2_xuly }}</i></p>
                                                        <p v-if="c2_file_name!=''">
                                                            - File đính kèm:
                                                            <a v-bind:href="downloadUrl_c2" target="_blank">Tệp tin</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.LANH_DAO_BAN_NGANH)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-warning">
                                                <div>
                                                    <h4><span class="label label-warning">Cấp độ 3</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c3_ten }}</i></p>
                                                        <p>- Thời gian để xử lý từ <i>{{ tgian_c2_xuly_den | formatDate }}</i> đến <i>{{ tgian_c3_xuly_den | formatDate }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c3_xuly | formatDate }}</i></p>
                                                        <p>- Nội dung xử lý: <i>{{ noidung_c3_xuly }}</i></p>
                                                        <p v-if="c3_file_name!=''">
                                                            - File đính kèm:
                                                            <a v-bind:href="downloadUrl_c3" target="_blank">Tệp tin</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.LANH_DAO_UY_BAN_NHAN_DAN)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-danger">
                                                <div>
                                                    <h4><span class="label label-danger">Cấp độ 4</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c4_ten }}</i></p>
                                                        <p>- Nội dung xử lý: <i>{{ noidung_c4_xuly }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c4_xuly | formatDate }}</i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-12" v-if="loi">
                                    <div class="alert alert-danger">
                                        <i class="icon fa fa-info"></i> {{ thongbao }}
                                    </div>
                                </div>
                                <div class="col-md-12" v-if="thanhcong">
                                    <div class="alert alert-success">
                                        <i class="icon fa fa-check"></i> {{ thongbao }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"> Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Foot {
    <script src="@Url.Content("~/Content/js/main.js")"></script>
    <script>
        var MyApp = new Vue({
            el: '#MyApp',
            data: {
                enableFilter: 0,
                condition0: @SystemConfigs.SELECT_ALL_VALUE,
                condition1: @SystemConfigs.SELECT_ALL_VALUE,
                condition2: @SystemConfigs.SELECT_ALL_VALUE,
                condition3: @SystemConfigs.SELECT_ALL_VALUE,
                condition4: @SystemConfigs.SELECT_ALL_VALUE,
                condition5: @SystemConfigs.SELECT_ALL_VALUE,
                condition6: @SystemConfigs.SELECT_ALL_VALUE,
                condition7: @SystemConfigs.SELECT_ALL_VALUE,
                condition8: @SystemConfigs.SELECT_ALL_VALUE,
                listValue: @Html.Raw(ViewBag.listValue),
                listGroup: @Html.Raw(ViewBag.listGroup),
                listFilter: @Html.Raw(ViewBag.listFilter),
                typeReport: 0,
                typeFunction: 0,
                startDayString: '@ViewBag.startDayString',
                endDayString: '@ViewBag.endDayString',
                dsHuyen: [],
                dsPhuong: [],
                dsDoiTuong: [],
                dsLinhVuc: [],
                dsDonVi: [],
                listData: [],
                dsDangXuLy: [],
                yeucau_id: '',
                tgian_tiepnhan: '',
                yeucau_noidung: '',
                nguoigoi_hoten: '',
                nguoigoi_sdt: '',
                nguoigoi_cmnd: '',
                nguoigoi_diachi: '',
                huyen_ten: '',
                phuong_ten: '',
                nguoigoi_huyen_id: null,
                nguoigoi_phuong_id_chon: '',
                nguoigoi_phuong_id: '',
                nguoigoi_email: '',
                nguoigoi_nickname: '',
                mangxh_id: '',
                loaiyc_id: 1,
                linhvuc_id: 1,
                doituong_id: 1,
                hinhthuc_id: 1,
                trangthai_id: 1,
                trangthai_ten: '',
                capdo_id: 1,
                donvi_id: 2,
                noidung_c1_xuly: '',
                c1_file_name: '',
                c1_file_title: '',
                tgian_c1_xuly: '',
                tgian_c2_xuly_tu: '',
                tgian_c2_xuly_den: '',
                tgian_c2_xuly: '',
                noidung_c2_xuly: '',
                c2_file_name: '',
                c2_file_title: '',
                tgian_c3_xuly: '',
                tgian_c3_xuly_den: '',
                noidung_c3_xuly: '',
                c3_file_name: '',
                c3_file_title: '',
                tgian_c4_xuly: '',
                noidung_c4_xuly: '',
                donvi_ten: '',
                donvi_c1_ten: '',
                donvi_c2_ten: '',
                donvi_c3_ten: '',
                donvi_c4_ten: '',
                dagoikiem: false,
                thongbao: '',
                loi: false,
                thanhcong: false,
                cache_id_playing_audio : 0,
                active_yeucau:null,
                active_audio_url:'',
                playlist:[],
                canUploadAudio:false,
                upload_err_msg:'',
                record_yeucau_noidung:''
            },
            methods: {
                clickEnableFilter: function () {
                    MyApp.enableFilter = !MyApp.enableFilter;
                },
                locDuLieu: function () {
                    var postData = {
                        startDayString: MyApp.startDayString,
                        endDayString: MyApp.endDayString,
                        condition0: MyApp.condition0,
                        condition1: MyApp.condition1,
                        condition2: MyApp.condition2,
                        condition3: MyApp.condition3,
                        condition4: MyApp.condition4,
                        condition5: MyApp.condition5,
                        condition6: MyApp.condition6,
                        condition7: MyApp.condition7,
                        condition8: MyApp.condition8
                    }
                    MyApp.dsDangXuLy = [];
                    MyApp.typeFunction = 0;
                    $.post("@Url.Action("TinhTrangXuLy", "ThongKe")", postData, function (data) {
                        MyApp.dsDangXuLy = data;
                    });
                },
                thongKeExcel: function () {
                    var outputFile = 'export' + '.csv';
                    exportTableToCSV($('#tblThongKe'), outputFile);
                },
                thongKe: function () {
                    var data = {
                        condition0: MyApp.condition0,
                        condition1: MyApp.condition1,
                        condition2: MyApp.condition2,
                        condition3: MyApp.condition3,
                        condition4: MyApp.condition4,
                        condition5: MyApp.condition5,
                        condition6: MyApp.condition6,
                        condition7: MyApp.condition7,
                        startDayString: MyApp.startDayString,
                        endDayString: MyApp.endDayString,
                        typeReport: MyApp.typeReport,
                    }
                    MyApp.typeFunction = 1;
                    $.post('@Url.Action("ThongKeTinhTrangXuLy", "ThongKe")', data, function (data, status) {
                        MyApp.listData = data;
                    });
                },
                showModal: function (yeucau_id) {
                    MyApp.loi = false;
                    MyApp.thongbao = '';
                    MyApp.thanhcong = false;
                    var postData = { yeucau_id: yeucau_id };
                    $.post("@Url.Action("getphananh", "capdo1", new { area = "" })", postData, function (data, textStatus) {
                        if (textStatus === 'success') {
                            MyApp.yeucau_id = data.yeucau_id;
                            MyApp.tgian_tiepnhan = data.tgian_tiepnhan;
                            MyApp.yeucau_noidung = data.yeucau_noidung;
                            MyApp.nguoigoi_hoten = data.nguoigoi_hoten;
                            MyApp.nguoigoi_sdt = data.nguoigoi_sdt;
                            MyApp.linhvuc_id = data.linhvuc_id;
                            MyApp.nguoigoi_cmnd = data.nguoigoi_cmnd;
                            MyApp.nguoigoi_diachi = data.nguoigoi_diachi;
                            MyApp.nguoigoi_huyen_id = data.nguoigoi_huyen_id;
                            MyApp.nguoigoi_phuong_id = data.nguoigoi_phuong_id;
                            MyApp.huyen_ten = data.huyen_ten;
                            MyApp.phuong_ten = data.phuong_ten;
                            MyApp.nguoigoi_email = data.nguoigoi_email;
                            MyApp.nguoigoi_nickname = data.nguoigoi_nickname;
                            MyApp.mangxh_id = data.mangxh_id;
                            MyApp.doituong_id = data.doituong_id;
                            MyApp.capdo_id = data.capdo_id;
                            MyApp.donvi_id = data.donvi_id;
                            MyApp.trangthai_id = data.trangthai_id;
                            MyApp.trangthai_ten = data.trangthai_ten;
                            MyApp.c1_file_name = data.c1_file_name;
                            MyApp.c1_file_title = data.c1_file_title;
                            MyApp.noidung_c1_xuly = data.noidung_c1_xuly;
                            MyApp.tgian_c1_xuly = data.tgian_c1_xuly;
                            MyApp.tgian_c2_xuly_tu = data.tgian_c2_xuly_tu;
                            MyApp.tgian_c2_xuly_den = data.tgian_c2_xuly_den;
                            MyApp.noidung_c2_xuly = data.noidung_c2_xuly;
                            MyApp.c2_file_name = data.c2_file_name;
                            MyApp.c2_file_title = data.c2_file_title;
                            MyApp.tgian_c2_xuly = data.tgian_c2_xuly;
                            MyApp.tgian_c3_xuly = data.tgian_c3_xuly;
                            MyApp.tgian_c3_xuly_den = data.tgian_c3_xuly_den;
                            MyApp.noidung_c3_xuly = data.noidung_c3_xuly;
                            MyApp.c3_file_name = data.c3_file_name;
                            MyApp.c3_file_title = data.c3_file_title;
                            MyApp.tgian_c4_xuly = data.tgian_c4_xuly;
                            MyApp.noidung_c4_xuly = data.noidung_c4_xuly;
                            MyApp.donvi_c2_ten = data.donvi_c2_ten;
                            MyApp.donvi_c3_ten = data.donvi_c3_ten;
                            MyApp.donvi_c4_ten = data.donvi_c4_ten;
                            MyApp.dagoikiem = data.dagoikiem;
                            $('#cboLinhVuc').val(MyApp.linhvuc_id).trigger('change');
                            $('#update').modal('show');
                        }
                        else {
                            alert('Lỗi trong quá trình truy xuất dữ liệu');
                        }
                    });
                },
            },
            computed: {
                downloadUrl_c1: function () {
                    if (!MyApp || !MyApp.c1_file_name) return "";
                    return MyApp.c1_file_name;
                },
                downloadUrl_c2: function () {
                    if (!MyApp || !MyApp.c2_file_name) return "";
                    return MyApp.c2_file_name;
                },
                downloadUrl_c3: function () {
                    if (!MyApp || !MyApp.c3_file_name) return "";
                    return MyApp.c3_file_name;
                },
                url_word: function () {
                    if (!MyApp && !MyApp.yeucau_id)
                        return "";

                    var baseUrl = '@Url.Action("ExportWord","CapDo1")';
                    return baseUrl + '/?yeucau_id=' + MyApp.yeucau_id;
                },
                get_upload_result_msg: function () {
                    if (MyApp.upload_err_msg == 'ok') {
                        return 'Xong, tập tin "' + MyApp.record_file_name + '" đã được tải lên hệ thống!';
                    }
                    return MyApp.upload_err_msg;
                }
            }
        })
        Vue.filter('formatDate', function (value) {
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY HH:mm:ss')
            }
        });
        $(document).ready(function () {
            MyApp.dsDoiTuong = MyApp.listValue[4];
            MyApp.dsLinhVuc = MyApp.listValue[0];
            MyApp.dsDonVi = MyApp.listValue[2];
            MyApp.locDuLieu();
            $('.nhapngay').datepicker({
                autoclose: true,
                dateFormat: 'dd/mm/yy'
            });
            $("#startDayString").datepicker().on('change.dp', () => {
                MyApp.startDayString = $("#startDayString").val();
            });
            $("#endDayString").datepicker().on('change.dp', () => {
                MyApp.endDayString = $("#endDayString").val();
            });
            $('#cboLinhVuc').select2().on('change', function () {
                MyApp.linhvuc_id = this.value;
            });
        });
    </script>
}