@using WebUI
@using HotlineCore

@{
    ViewBag.Title = "Xử lý cấp độ 4";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@Html.Partial("DialogPleaseWait")
<div id="MyApp" class="row">
    @*<div class="col-md-12">
            <div class="btn btn-default" v-on:click="clickEnableFilter">Bộ lọc</div><br />
            <div v-if="enableFilter == 1" class="form-group">
                <label class="control-label">{{ listFilter[0].VALUE }}</label>
                <select v-model="condition0" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[0]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
                <label class="control-label">{{ listFilter[1].VALUE }}</label>
                <select v-model="condition1" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[1]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
                <label class="control-label">{{ listFilter[2].VALUE }}</label>
                <select v-model="condition2" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[2]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
                <label class="control-label">{{ listFilter[3].VALUE }}</label>
                <select v-model="condition3" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[3]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
                <label class="control-label">{{ listFilter[4].VALUE }}</label>
                <select v-model="condition4" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[4]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
                <label class="control-label">{{ listFilter[5].VALUE }}</label>
                <select v-model="condition5" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[5]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
                <label class="control-label">{{ listFilter[7].VALUE }}</label>
                <select v-model="condition7" class="form-control" style="width: 100%">
                    <option v-for="item in listValue[7]" v-bind:value="item.ID">{{ item.VALUE }}</option>
                </select>
            </div>
            <form class="form-group">
                <label for="startDayString" class="control-label">Từ ngày</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right nhapngay" id="startDayString" v-model="startDayString" />
                </div>
                <label for="endDayString" class="control-label">Đến ngày</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right nhapngay" id="endDayString" v-model="endDayString" />
                </div>
                <br />
                <button type="button" class="btn btn-primary" v-on:click="locDuLieu">Lọc dữ liệu</button>
            </form>
        </div>*@
    @Html.Partial("FilterPanel")

    <div class="col-md-12">
        <div>
            <ul class="nav nav-pills mynav">
                <li class="active">
                    <a href="#tab_dang_xu_ly" data-toggle="tab">
                        <strong class="text-primary">Đang xử lý<span>({{ dsDangXuLy.length}})</span></strong>
                    </a>
                </li>

                <li>
                    <a href="#tab_sai_don_vi" data-toggle="tab">
                        <strong class="text-success">Sai đơn vị<span>({{ dsSaiDonVi.length}})</span></strong>
                    </a>
                </li>

                <li>
                    <a href="#tab_dang_phoi_hop_xu_ly" data-toggle="tab">
                        <strong class="text-warning">Đang phối hợp xử lý<span>({{ dsPhoiHop.length}})</span></strong>
                    </a>
                </li>

                <li>
                    <a href="#tab_da_xu_ly" data-toggle="tab">
                        <strong class="text-danger">Đã xử lý<span>({{ dsDaXuLy.length}})</span></strong>
                    </a>
                </li>
            </ul>
            <div class="tab-content bg-gray-light">
                <div class="tab-pane active" id="tab_dang_xu_ly">
                    <table class="table table-bordered">
                        <tr>
                            <th><i class="fa fa-edit text-white"></i></th>
                            <th>Cấp độ</th>
                            <th>Mã YC</th>
                            <th>Thời gian</th>
                            <th>Họ tên</th>
                            <th>SĐT</th>
                            <th>Nội dung</th>
                            <th>Loại YC</th>
                            <th>Lĩnh vực</th>

                            <th>Đ.vị đang xử lý</th>
                            <th style="min-width:200px">ND xử lý</th>
                        </tr>
                        <tr v-for="item in dsDangXuLy" v-bind:class="{ 'text-bold': item.c4_xem==false, 'text-danger' : item.c4_xem==false }">
                            <td align="center">
                                @if (ViewBag.canViewDetail_PL4 == 1)
                                {
                                    <a style="cursor:pointer" v-on:click="showModal(item.yeucau_id)"><i class="fa fa-edit text-blue"></i></a>
                                }
                            </td>
                            <td>{{ item.capdo_id }}</td>
                            <td>{{ item.yeucau_id }}</td>
                            <td>{{ item.tgian_tiepnhan | formatDate }}</td>
                            <td>{{ item.nguoigoi_hoten }}</td>
                            <td>{{ item.nguoigoi_sdt }}</td>
                            <td>{{ clampText(item.yeucau_noidung, 100) }}</td>
                            <td>{{ item.loaiyc_ten }}</td>
                            <td>{{ item.linhvuc_ten }}</td>

                            <td>{{ item.donvi_ten }}</td>
                            <td>
                                <p>C4 : {{ item.noidung_c4_xuly }}</p>
                                <p>C3 : {{ item.noidung_c3_xuly }}</p>
                                <p>C2 : {{ item.noidung_c2_xuly }}</p>
                                <p>C1 : {{ item.noidung_c1_xuly }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_sai_don_vi">
                    <table class="table table-bordered">
                        <tr>
                            <th><i class="fa fa-edit text-white"></i></th>
                            <th>Cấp độ</th>
                            <th>Mã YC</th>
                            <th>Thời gian</th>
                            <th>Họ tên</th>
                            <th>SĐT</th>
                            <th>Nội dung</th>
                            <th>Loại YC</th>
                            <th>Lĩnh vực</th>

                            <th>Đ.vị đang xử lý</th>
                            <th>ND xử lý</th>
                        </tr>
                        <tr v-for="item in dsSaiDonVi" v-bind:class="{ 'text-bold': item.c4_xem==false, 'text-danger' : item.c4_xem==false }">
                            <td align="center">
                                @if (ViewBag.canViewDetail_PL4 == 1)
                                {
                                    <a style="cursor:pointer" v-on:click="showModal(item.yeucau_id)"><i class="fa fa-edit text-blue"></i></a>
                                }
                            </td>
                            <td>{{ item.capdo_id }}</td>
                            <td>{{ item.yeucau_id }}</td>
                            <td>{{ item.tgian_tiepnhan }}</td>
                            <td>{{ item.nguoigoi_hoten }}</td>
                            <td>{{ item.nguoigoi_sdt }}</td>
                            <td>{{ clampText(item.yeucau_noidung, 100) }}</td>
                            <td>{{ item.loaiyc_ten }}</td>
                            <td>{{ item.linhvuc_ten }}</td>

                            <td>{{ item.donvi_ten }}</td>
                            <td>
                                <p>C4 : {{ item.noidung_c4_xuly }}</p>
                                <p>C3 : {{ item.noidung_c3_xuly }}</p>
                                <p>C2 : {{ item.noidung_c2_xuly }}</p>
                                <p>C1 : {{ item.noidung_c1_xuly }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane" id="tab_dang_phoi_hop_xu_ly">
                    <table class="table table-bordered">
                        <tr>
                            <th><i class="fa fa-edit text-white"></i></th>
                            <th>Cấp độ</th>
                            <th>Mã YC</th>
                            <th>Thời gian</th>
                            <th>Họ tên</th>
                            <th>SĐT</th>
                            <th>Nội dung</th>
                            <th>Loại YC</th>
                            <th>Lĩnh vực</th>

                            <th>Đ.vị đang phối hợp</th>
                            <th>ND xử lý</th>
                            @*<th>Đã gọi kiểm?</th>*@
                        </tr>
                        <tr v-for="item in dsPhoiHop">
                            <td align="center">
                                @if (ViewBag.canViewDetail_PL4 == 1)
                                {
                                    <a style="cursor:pointer" v-on:click="showModal(item.yeucau_id)"><i class="fa fa-edit text-blue"></i></a>
                                }
                            </td>
                            <td>{{ item.capdo_id }}</td>
                            <td>{{ item.yeucau_id }}</td>
                            <td>{{ item.tgian_tiepnhan | formatDate }}</td>
                            <td>{{ item.nguoigoi_hoten }}</td>
                            <td>{{ item.nguoigoi_sdt }}</td>
                            <td>{{ clampText(item.yeucau_noidung, 100) }}</td>
                            <td>{{ item.loaiyc_ten }}</td>
                            <td>{{ item.linhvuc_ten }}</td>

                            <td>{{ item.donvi_ten }}</td>
                            <td>
                                <p>C4 : {{ item.noidung_c4_xuly }}</p>
                                <p>C3 : {{ item.noidung_c3_xuly }}</p>
                                <p>C2 : {{ item.noidung_c2_xuly }}</p>
                                <p>C1 : {{ item.noidung_c1_xuly }}</p>
                            </td>
                            @*<td class="text-center">
                                    <span v-if="item.dagoikiem==true" class="fa fa-check"></span>
                                </td>*@
                        </tr>
                    </table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_da_xu_ly">
                    <table class="table table-bordered">
                        <tr>
                            <th><i class="fa fa-edit text-white"></i></th>
                            <th>Cấp độ</th>
                            <th>Mã YC</th>
                            <th>Thời gian</th>
                            <th>Họ tên</th>
                            <th>SĐT</th>
                            <th>Nội dung</th>
                            <th>Loại YC</th>
                            <th>Lĩnh vực</th>

                            <th>Đ.vị đã xử lý</th>
                            <th title="Nội dung xử lý">ND xử lý</th>
                        </tr>
                        <tr v-for="item in dsDaXuLy" v-bind:class="{ 'text-bold': item.c4_xem==false, 'text-danger' : item.c4_xem==false }">
                            <td align="center">
                                @if (ViewBag.canViewDetail_PL4 == 1)
                                {
                                    <a style="cursor:pointer" v-on:click="showModal(item.yeucau_id)"><i class="fa fa-edit text-blue"></i></a>
                                }
                            </td>
                            <td>{{ item.capdo_id }}</td>
                            <td>{{ item.yeucau_id }}</td>
                            <td>{{ item.tgian_tiepnhan | formatDate }}</td>
                            <td>{{ item.nguoigoi_hoten }}</td>
                            <td>{{ item.nguoigoi_sdt }}</td>
                            <td>{{ clampText(item.yeucau_noidung, 100) }}</td>
                            <td>{{ item.loaiyc_ten }}</td>
                            <td>{{ item.linhvuc_ten }}</td>

                            <td>{{ item.donvi_ten }}</td>
                            <td>
                                <p>C4 : {{ item.noidung_c4_xuly }}</p>
                                <p>C3 : {{ item.noidung_c3_xuly }}</p>
                                <p>C2 : {{ item.noidung_c2_xuly }}</p>
                                <p>C1 : {{ item.noidung_c1_xuly }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <div class="modal" id="update" role="dialog">
        <div class="modal-dialog modal-lg">
            Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" v-html="dlg_detail_title()"></h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills mynav">
                        <li class="active"><a href="#tab_thong_tin_chung" data-toggle="tab"><strong class="text-primary">Thông tin chung</strong></a></li>
                        <li><a href="#tab_thong_tin_nguoi_dan" data-toggle="tab"><strong class="text-success">Thông tin người dân</strong></a></li>
                        <li><a href="#tab_ket_qua_xu_ly" data-toggle="tab"><strong class="text-danger">Kết quả xử lý</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_thong_tin_chung">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">T.gian tiếp nhận</label>
                                            <div class="col-sm-10">
                                                <span class="form-control">{{ tgian_tiepnhan | formatDate }}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Nội dung phản ánh</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" v-model="yeucau_noidung" rows="10" disabled spellcheck="false"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Đơn vị</label>
                                            <div class="col-sm-10">
                                                <div class="form-control">
                                                    {{donvi_ten}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Lĩnh vực</label>
                                            <div class="col-sm-10">
                                                <select v-model="linhvuc_id" id="cboLinhVuc" class="form-control" disabled>
                                                    <option v-for="item in dsLinhVuc" v-bind:value="item.linhvuc_id">{{ item.linhvuc_ten }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_thong_tin_nguoi_dan">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Họ tên</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="nguoigoi_hoten" disabled />
                                            </div>
                                            <label class="control-label col-sm-2">Số ĐT</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="nguoigoi_sdt" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Email</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="nguoigoi_email" disabled />
                                            </div>
                                            <label class="control-label col-sm-2">CMND</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="nguoigoi_cmnd" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Đối tượng</label>
                                            <div class="col-sm-4">
                                                <select v-model="doituong_id" name="doituong_id" class="form-control" disabled>
                                                    <option v-for="item in dsDoiTuong" v-bind:value="item.ID">{{ item.VALUE }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Mạng XH</label>
                                            <div class="col-sm-4">
                                                <select v-model="mangxh_id" class="form-control" disabled>
                                                    <option value="">-Không-</option>
                                                    <option value="FACEBOOK">Facebook</option>
                                                    <option value="VIBER">Viber</option>
                                                    <option value="ZALO">Zalo</option>
                                                </select>
                                            </div>
                                            <label class="control-label col-sm-2">Nickname</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="nguoigoi_nickname" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Địa chỉ</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" v-model="nguoigoi_diachi" disabled />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Xã/Phường</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="phuong_ten" readonly />
                                            </div>
                                            <label class="control-label col-sm-2">Huyện/Tp</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" v-model="huyen_ten" readonly />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_ket_qua_xu_ly">
                            <div class="panel panel-default">
                                <div class="panel-heading">Chi tiết xử lý</div>
                                <div class="panel-body">
                                    <div style="margin-top: 10px">
                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.DIEN_THOAI_VIEN)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-info">
                                                <div class="">
                                                    <h4><span class="label label-info">Cấp độ 1</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c1_ten }}</i></p>
                                                        <p>- Nội dung xử lý: <i>{{ noidung_c1_xuly }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c1_xuly | formatDate }}</i></p>
                                                        <p v-if="c1_file_name!=''">
                                                            - File đính kèm:
                                                            <a v-bind:href="downloadUrl_c1" target="_blank">Tệp tin</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.CHUYEN_VIEN_BAN_NGANH)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-success">
                                                <div>
                                                    <h4><span class="label label-success">Cấp độ 2</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c2_ten }}</i></p>
                                                        <p>- Thời gian để xử lý từ <i>{{ tgian_c2_xuly_tu | formatDate }}</i> đến <i>{{ tgian_c2_xuly_den | formatDate }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c2_xuly | formatDate }}</i></p>
                                                        <p>- Nội dung xử lý: <i>{{ noidung_c2_xuly }}</i></p>
                                                        <p v-if="c2_file_name!=''">
                                                            - File đính kèm:
                                                            <a v-bind:href="downloadUrl_c2" target="_blank">Tệp tin</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.LANH_DAO_BAN_NGANH)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-warning">
                                                <div>
                                                    <h4><span class="label label-warning">Cấp độ 3</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c3_ten }}</i></p>
                                                        <p>- Thời gian để xử lý từ <i>{{ tgian_c2_xuly_den | formatDate }}</i> đến <i>{{ tgian_c3_xuly_den | formatDate }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c3_xuly | formatDate }}</i></p>
                                                        <p>- Nội dung xử lý: <i>{{ noidung_c3_xuly }}</i></p>
                                                        <p>
                                                            - File đính kèm:
                                                            <a v-bind:href="downloadUrl_c3" target="_blank" v-if="c3_file_name!=''">Tệp tin</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="capdo_id >= @Html.Raw((int)CAP_DO_YEU_CAU.LANH_DAO_UY_BAN_NHAN_DAN)" class="row" style="margin-top: 5px">
                                            <div class="col-sm-12 bg-danger">
                                                <div>
                                                    <h4><span class="label label-danger">Cấp độ 4</span></h4>
                                                    <div>
                                                        <p>- Đơn vị xử lý: <i>{{ donvi_c4_ten }}</i></p>
                                                        <p>- Thời gian xử lý: <i>{{ tgian_c4_xuly | formatDate }}</i></p>
                                                        <p>- Nội dung xử lý:</p>
                                                        <p>
                                                            <textarea v-model="noidung_c4_xuly" class="form-control" rows="5" spellcheck="false" :disabled="phieu_dxl"></textarea>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-12" v-if="loi">
                                <div class="alert alert-danger">
                                    <i class="icon fa fa-info"></i> {{ thongbao }}
                                </div>
                            </div>
                            <div class="col-md-12" v-if="thanhcong">
                                <div class="alert alert-success">
                                    <i class="icon fa fa-check"></i> {{ thongbao }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <div class="modal-footer">

                    @if (ViewBag.mp_vaitro == WebUI.VAI_TRO.ADMIN || ViewBag.mp_vaitro == WebUI.VAI_TRO.XU_LY_CAP_DO_3)
                    {
                        <div class="row" v-if="capdo_id==4">
                            <div class="col-md-8">
                                @*<button v-if="trangthai_id == @Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DANG_XU_LY) || trangthai_id == @Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DANG_PHOI_HOP_XU_LY)" type="button" class="btn btn-primary pull-left" v-on:click="capnhat(@Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DA_XU_LY))">Đã xử lý</button>*@
                                <button v-if="trangthai_id == @Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DANG_XU_LY) || trangthai_id == @Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DANG_PHOI_HOP_XU_LY)" type="button" class="btn btn-primary pull-left" v-on:click="capnhat(@Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DA_XU_LY))" title="Bạn đã xử lý xong rồi">Đã xử lý</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" id="btnModalClose" class="btn btn-default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Foot {
<script>
    var url_LinhVuc_getListByDonViWithSelectChoice = "@Url.Action("getListByDonViWithSelectChoice", "LinhVuc")";

        var MyApp = new Vue({
            el: '#MyApp',
            data: {
                enable_xuatExcelDanhSachDaXuLy: false,
                enableSearchByKeyword: false,
                enableFilter: 0,
                @*condition0: @SystemConfigs.SELECT_ALL_VALUE,
                condition1: @SystemConfigs.SELECT_ALL_VALUE,
                condition2: @SystemConfigs.SELECT_ALL_VALUE,
                condition3: @SystemConfigs.SELECT_ALL_VALUE,
                condition4: @SystemConfigs.SELECT_ALL_VALUE,
                condition5: @SystemConfigs.SELECT_ALL_VALUE,
                condition6: @SystemConfigs.SELECT_ALL_VALUE,
                condition7: @SystemConfigs.SELECT_ALL_VALUE,
                listValue: @Html.Raw(ViewBag.listValue),
                listFilter: @Html.Raw(ViewBag.listFilter),*@
                filters: @Html.Raw(ViewBag.filters),
                filtersData: @Html.Raw(ViewBag.filtersData),
                record_upload_finished: false,
                record_yeucau_id: '',
                record_file: null,
                record_file_name: '',
                startDayString: '@ViewBag.startDayString',
                endDayString: '@ViewBag.endDayString',
                dsHuyen: [],
                dsPhuong: [],
                dsDoiTuong: [],
                dsLinhVuc: [],
                dsDonVi: [],
                dsDangXuLy: [],
                dsSaiDonVi: [],
                dsPhoiHop: [],
                dsDaXuLy: [],
                yeucau_id: '',
                tgian_tiepnhan: '',
                yeucau_noidung: '',
                nguoigoi_hoten: '',
                nguoigoi_sdt: '',
                nguoigoi_cmnd: '',
                nguoigoi_diachi: '',
                huyen_ten: '',
                phuong_ten: '',
                nguoigoi_huyen_id: null,
                nguoigoi_phuong_id_chon: '',
                nguoigoi_phuong_id: '',
                nguoigoi_email: '',
                nguoigoi_nickname: '',
                mangxh_id: '',
                loaiyc_id: 1,
                linhvuc_id: 1,
                doituong_id: 1,
                hinhthuc_id: 1,
                trangthai_id: 1,
                trangthai_ten: '',
                capdo_id: 1,
                donvi_id: 2,
                noidung_c1_xuly: '',
                c1_file_name: '',
                c1_file_title: '',
                tgian_c1_xuly: '',
                tgian_c2_xuly_tu: '',
                tgian_c2_xuly_den: '',
                tgian_c2_xuly: '',
                noidung_c2_xuly: '',
                c2_file_name: '',
                c2_file_title: '',
                tgian_c3_xuly: '',
                tgian_c3_xuly_den: '',
                noidung_c3_xuly: '',
                c3_file_name: '',
                c3_file_title: '',
                tgian_c4_xuly: '',
                noidung_c4_xuly: '',
                donvi_ten: '',
                donvi_c1_ten: '',
                donvi_c2_ten: '',
                donvi_c3_ten: '',
                donvi_c4_ten: '',
                dagoikiem: false,
                thongbao: '',
                loi: false,
                thanhcong: false,
                user_capdo_id: @Html.Raw((int)ViewBag.mp_vaitro)
            },
            methods: {
                onFilterOptionChange: function (filterOptionIndex) {
                    //console.log(`${filterOptionIndex} FILTER ${this.filters[filterOptionIndex].Id} changed...`);
                    if (this.filters[filterOptionIndex].Id === 'donvi') {
                        this.filter_locLVTheoDV();
                    }
                },
                filter_locLVTheoDV: function () {
                    var postData = { donvi_id: MyApp.filters[FILTER_INDEX_DONVI].Value };
                    $.get("@Url.Action("listByDonVi", "LinhVuc")", postData, function (data) {
                        var ls = [];
                        $.each(data, function (i, v) {
                            ls.push({ Value: v.linhvuc_id, Label: v.linhvuc_ten });
                        });
                        ls.push({ Value: -1, Label: 'Tất cả' });
                        MyApp.filtersData[FILTER_INDEX_LINHVUC] = ls;
                        MyApp.filters[FILTER_INDEX_LINHVUC].Value = -1;
                    })
                },
                dlg_detail_title: function () {
                    return `<span class="text-danger text-bold">${this.yeucau_id} - cấp độ ${this.capdo_id} <span class="text-lowercase">${this.trangthai_ten}</span> </span>`;
                },
                clickEnableFilter: function () {
                    MyApp.enableFilter = !MyApp.enableFilter;
                },
                locDuLieu: function () {
                    var postData = {
                        startDayString: MyApp.startDayString,
                        endDayString: MyApp.endDayString
                    }
                    MyApp.dsDangXuLy = [];
                    MyApp.dsSaiDonVi = [];
                    MyApp.dsDaXuLy = [];
                    MyApp.dsPhoiHop = [];
                    $.post("@Url.Action("GetDsPhanAnh","CapDo4")", postData, function (data) {
                        $.each(data, function (i, v) {
                            switch (v.trangthai_id) {
                                case 1:
                                    MyApp.dsDangXuLy.push(v);
                                    break;
                                case 2:
                                    MyApp.dsSaiDonVi.push(v);
                                    break;
                                case 3:
                                    MyApp.dsPhoiHop.push(v);
                                    break;
                                case 99:
                                    MyApp.dsDaXuLy.push(v);
                                    break;
                            }
                        });
                    });
                },
                getDsHuyen: function () {
                    $.post("@Url.Action("GetDsHuyen", "Dvhc")", function (data) {
                        $.each(data, function (i, v) {
                            MyApp.dsHuyen.push(v);
                        });
                    })
                },
                getDsPhuong: function () {
                    MyApp.dsPhuong = [];
                    var postData = { huyen_id: MyApp.nguoigoi_huyen_id };
                    $.post("@Url.Action("GetDsPhuongTheoHuyen", "Dvhc")", postData, function (data) {
                        $.each(data, function (i, v) {
                            MyApp.dsPhuong.push(v);
                        });
                    })
                },
                showModal: function (yeucau_id) {
                    MyApp.loi = false;
                    MyApp.thongbao = '';
                    MyApp.thanhcong = false;
                    var postData = { yeucau_id: yeucau_id, capdo: 4 };
                    $.post("@Url.Action("OpenRequestDetail", "CapDo1", new { area = "" })", postData, function (data) {
                        MyApp.yeucau_id = data.yeucau_id;
                        MyApp.tgian_tiepnhan = data.tgian_tiepnhan;
                        MyApp.yeucau_noidung = data.yeucau_noidung;
                        MyApp.nguoigoi_hoten = data.nguoigoi_hoten;
                        MyApp.nguoigoi_sdt = data.nguoigoi_sdt;
                        MyApp.linhvuc_id = data.linhvuc_id;
                        MyApp.nguoigoi_cmnd = data.nguoigoi_cmnd;
                        MyApp.nguoigoi_diachi = data.nguoigoi_diachi;
                        MyApp.huyen_ten = data.huyen_ten;
                        MyApp.phuong_ten = data.phuong_ten;
                        MyApp.nguoigoi_huyen_id = data.nguoigoi_huyen_id;
                        MyApp.nguoigoi_phuong_id = data.nguoigoi_phuong_id;
                        MyApp.nguoigoi_email = data.nguoigoi_email;
                        MyApp.nguoigoi_nickname = data.nguoigoi_nickname;
                        MyApp.mangxh_id = data.mangxh_id;
                        MyApp.doituong_id = data.doituong_id;
                        MyApp.capdo_id = data.capdo_id;
                        MyApp.donvi_id = data.donvi_id;
                        MyApp.donvi_dangxuly_ten = data.donvi_dangxuly_ten;
                        MyApp.trangthai_id = data.trangthai_id;
                        MyApp.trangthai_ten = data.trangthai_ten;
                        MyApp.noidung_c1_xuly = data.noidung_c1_xuly;
                        MyApp.c1_file_name = data.c1_file_name;
                        MyApp.c1_file_title = data.c1_file_title;
                        MyApp.tgian_c1_xuly = data.tgian_c1_xuly;
                        MyApp.tgian_c2_xuly_tu = data.tgian_c2_xuly_tu;
                        MyApp.tgian_c2_xuly_den = data.tgian_c2_xuly_den;
                        MyApp.noidung_c2_xuly = data.noidung_c2_xuly;
                        MyApp.c2_file_name = data.c2_file_name;
                        MyApp.c2_file_title = data.c2_file_title;
                        MyApp.tgian_c2_xuly = data.tgian_c2_xuly;
                        MyApp.tgian_c3_xuly = data.tgian_c3_xuly;
                        MyApp.tgian_c3_xuly_den = data.tgian_c3_xuly_den;
                        MyApp.noidung_c3_xuly = data.noidung_c3_xuly;
                        MyApp.c3_file_name = data.c3_file_name;
                        MyApp.c3_file_title = data.c3_file_title;
                        MyApp.tgian_c4_xuly = data.tgian_c4_xuly;
                        MyApp.noidung_c4_xuly = data.noidung_c4_xuly;
                        MyApp.donvi_ten = data.donvi_ten;
                        MyApp.donvi_c1_ten = data.donvi_c1_ten;
                        MyApp.donvi_c2_ten = data.donvi_c2_ten;
                        MyApp.donvi_c3_ten = data.donvi_c3_ten;
                        MyApp.donvi_c4_ten = data.donvi_c4_ten;
                        MyApp.dagoikiem = data.dagoikiem;

                        MyApp.reloadListLinhVuc({ yeucau_id: data.yeucau_id, old_linhvuc_id: data.linhvuc_id, donvi_id: data.donvi_c3_id, saiLV: false });
                        //$('#cboLinhVuc').val(MyApp.linhvuc_id).trigger('change');
                        $('#update').modal('show');
                    });
                    //var postData2 = { yeucau_id: yeucau_id };
                    //$.post("@Url.Action("DaXem", "CapDo4", new { area = "" })", postData2, function (data) { });
                },
                reloadListLinhVuc: function (curExtra) {
                    this.curYeuCauExtra = curExtra;
                    var postData = { donvi_id: curExtra.donvi_id };
                    MyApp.dsLinhVuc = [];
                    $.post(url_LinhVuc_getListByDonViWithSelectChoice, postData, function (data) {
                        $.each(data, function (i, v) {
                            MyApp.dsLinhVuc.push(v);
                        });
                        // Bug
                        $('#cboLinhVuc').val(MyApp.linhvuc_id).trigger('change');
                    });
                },
                capnhat: function (newStatusCode) {
                    MyApp.loi = false;
                    MyApp.thongbao = '';
                    MyApp.thanhcong = false;
                    if (MyApp.noidung_c3_xuly == "") {
                        showErrorNotification('Vui lòng nhập nội dung xử lý');
                        return;
                    }
                    showConfirmDialog('Cập nhật trạng thái phản ánh', 'Bạn có chắc muốn cập nhật không?.',
                        function () {
                            showPleaseWaitDialog('Cập nhật trạng thái phiếu phản ánh', 'Đang cập nhật, xin chờ giây lát...');
                            MyApp.execUpdateWithStatusCode(newStatusCode);
                        }, true, false, null, 'ok'
                    );
                },
                execUpdateWithStatusCode: function (newStatusCode) {
                    var postData = {
                        yeucau_id: MyApp.yeucau_id,
                        noidung_c4_xuly: MyApp.noidung_c4_xuly,
                        trangthai_id: newStatusCode
                    };
                    $.post("@Url.Action("CapNhat", "CapDo4")", postData, function (data) {
                        if (data > 0) {
                            showSuccessNotification('Cập nhật thành công!');
                            $("#btnModalClose").click();
                            MyApp.locDuLieu();
                        }
                        else {
                            showErrorNotification('Cập nhật thất bại!');
                        }
                    });
                }
            },
            computed: {
                phieu_dxl: function () {
                    return this.trangthai_id >= @Constant.layTrangThaiYeuCau(TRANG_THAI_YEU_CAU.DA_XU_LY);
                },
                downloadUrl_c1: function () {
                    if (!MyApp || !MyApp.c1_file_name) return "";
                    return MyApp.c1_file_name;
                },
                downloadUrl_c2: function () {
                    if (!MyApp || !MyApp.c2_file_name) return "";
                    return MyApp.c2_file_name;
                },
                downloadUrl_c3: function () {
                    if (!MyApp || !MyApp.c3_file_name) return "";
                    return MyApp.c3_file_name;
                }
            }
        })
        Vue.filter('formatDate', function (value) {
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY HH:mm:ss')
            }
        });
        $(document).ready(function () {
            MyApp.dsDoiTuong = MyApp.filtersData[4];
            MyApp.dsLinhVuc = MyApp.filtersData[0];
            MyApp.dsDonVi = MyApp.filtersData[2];
            MyApp.locDuLieu();
            $('.nhapngay').datepicker({
                autoclose: true,
                dateFormat: 'dd/mm/yy'
            });
            $('.fa-calendar').click(function () {
                var $this = $(this).parent().parent().find('input');
                $this.datepicker("show");
            });
            $("#startDayString").datepicker().on('change.dp', () => {
                MyApp.startDayString = $("#startDayString").val();
            });
            $("#endDayString").datepicker().on('change.dp', () => {
                MyApp.endDayString = $("#endDayString").val();
            });
        });
</script>
}