@{
    ViewBag.Title = "Ban Hành Động Doanh Nghiệp - under construction";
}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Angular/2018_06_11/build/style.css")">
</head>

<body class="h-100">
    <noscript>Please enable javascript to load website</noscript>
    <request-app></request-app>
    <!--Jquery-->
    <script type="text/javascript" src="@Url.Content("~/Content/Angular/lib/jquery/3.2.1/jquery-3.2.1.min.js")"></script>
    <!--Popper-->
    <script type="text/javascript" src="@Url.Content("~/Content/Angular/lib/popper.js/1.12.3/popper.min.js")"></script>
    <!--Boostrap-->
    <script type="text/javascript" src="@Url.Content("~/Content/Angular/lib/bootstrap/4.0.0-beta/js/bootstrap.min.js")"></script>
    <!---->
    <script type="text/javascript" src="@Url.Content("~/Content/Angular/2018_06_11/build/polyfill.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Angular/2018_06_11/build/vendor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Angular/2018_06_11/build/main.js")"></script>
</body>

</html>